body {
    margin: 0;
    padding: 0;
}

/* picture1 */
.container {
    width: 70%;
    margin: 50px auto;
}

img {
    min-width: 350px;
    float: left;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 150px;
}

.text {
    text-align: justify;
}

.text h1 {
    font-size: 15px;
}

.text p {
    font-size: 12px;
}

/* picture 2 */
.container1 {
    width: 70%;
    margin: 50px auto;
}
.container1 img {
    min-width: 350px;
    float: right;
    border: 3px solid;
    border-radius: 10px;
    margin-left: 80px;
}

.text1 {
    text-align: justify;
}

.text1 h1 {
    font-size: 15px;
}

.text1 p {
    font-size: 12px;
}

/* Flex Picture */
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}

.flex img {
    flex-wrap: wrap;
    width: 25%;
    margin: 1px 0;
}

.picture3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
}

.grid-picture {
    width: 80%;
    margin: 0 auto;
}

.grid-picture img {
    width: 100%;
    min-width: auto;
    float: left;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 0;
}