*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Navbar START*/

nav {
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    background: none;
    padding: 0 20px;
    list-style: none;
    display: flex;
    width: 100%;
}
.left{
    float: left;
    width: 45%;
}
.right{
    float: right;
    width: 45%;
}
nav ul li {
    float: left;
}
nav ul li:hover{
    background: none;
}
nav ul li:hover a{
    color: aliceblue;
}
nav ul li a{
    display: block;
    padding: 25px;
    color: black;
    text-decoration: none;
}
* { 
    margin: 0;
    padding: 0;
}

/* Navbar END */

/* hero section start */
.hero-section{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
background-color: whitesmoke;
}

.content{
    align-items: center;
    margin-top: 20%;
    justify-content: center;
    position: absolute;
}

.content p {
    font-size: 2rem;
}

.content button{
    justify-content: center;
    margin-top: 2rem;
    left: 50%;
    padding: 0.5px 8px;
    background-color: rgb(49, 180, 255);
    border: 0.7rem solid rgb(49, 180, 255);
    border-radius: 4px;
    cursor: pointer;
}

.content button p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: aliceblue;
    cursor: pointer;
    
}
/* hero section end */

/* feture start */

.feature{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 3rem;
    background-color: white;
}

.tittle p{
    margin-bottom: 3rem;
    font-size: 2rem;
    width: 35%;
    
}

.row1{
    font-size: 1.5rem;
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    
}
.row2{
    font-size: 1.5rem;
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: row;
    gap: 1rem;
    flex-basis: 100%;
    width: 100%;
    
}

.row1 .feature-content1{
    height: 100%;
    width: 100%;

}
.row1 .feature-content2{
    height: 100%;
    width: 100%;
}
.row2 .feature-content3{
    height: 100%;
    width: 100%;
}
.row2 .feature-content4{
    height: 100%;
    width: 100%;
}

section h5{
    margin-bottom: 1rem;
}

section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

section button{
   
    color: rgb(49, 180, 255);
    margin-top: 2rem;
    background: white;
    padding: 5px 10px;
    border: 2px solid rgb(49, 180, 255);
    border-radius: 10px;
}

/* feture end */

/* Comunity START */
.container {
    width: 70%;
    margin: 50px auto;
}

img {
    min-width: 350px;
    float: left;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 150px;
}

.text {
    text-align: justify;
}

.text h1 {
    font-size: 15px;
}

.text p {
    font-size: 12px;
}
/* Comunity END */

/* Counity 1 START */
.container1 {
    width: 70%;
    margin: 50px auto;
}
.container1 img {
    min-width: 350px;
    float: right;
    border: 3px solid;
    border-radius: 10px;
    margin-left: 80px;
}

.text1 {
    text-align: justify;
}

.text1 h1 {
    font-size: 15px;
}

.text1 p {
    font-size: 12px;
}
/* Counity 1 END */

/* Comunity 2 START */
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}

.flex img {
    flex-wrap: wrap;
    width: 25%;
    margin: 1px 0;
}

.picture3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
}

.grid-picture {
    width: 80%;
    margin: 0 auto;
}

.grid-picture img {
    width: 100%;
    min-width: auto;
    float: left;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 0;
}

/* Comunity 2 END */

/* FOOTER START */
footer {
    position: absolute;
    bottom: 20vh;
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    float: left;
    width: 45%;
}
.right{
    float: right;
    width: 45%;
}
footer ul {
    background: none;
    padding: 0 20px;
    list-style: none;
    width: 100%;
}
footer ul li {
    float: left;
}
footer ul li:hover{
    background: none;
}
footer ul li:hover a{
    color: aliceblue;
}
footer ul li a{
    display: block;
    padding: 25px;
    color: black;
    text-decoration: none;
}
/* FOOTER END */